/* Webfont: PotteryGifts-Regular */@font-face {
    font-family: 'PotteryGifts';
    src: url('Pottery Gifts.eot'); /* IE9 Compat Modes */
    src: url('Pottery Gifts.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Pottery Gifts.woff') format('woff'), /* Modern Browsers */
         url('Pottery Gifts.woff2') format('woff2'), /* Modern Browsers */
         url('Pottery Gifts.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

